header, main, footer {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .header-title {
    text-align: center;
  }
}

nav.top-nav {
  height:128px;
}
.top-corner-branding {
  height:128px;
}
.header-title {
  font-size:3.5em;
  margin-top:0;
  margin-bottom:0;
}
.head-container {
  width: 85% !important;
}
.logo-text {
  color: white;
  margin-left: 24px;
  font-weight: 200;
}
.top-corner-branding {
  background-color:#ABDAAD;
}
.button-collapse {
  font-size:32px;
  margin-left:0.5em;
}
.sidebar-item-desc {
  padding-left:12px;
  font-weight:600;
  color:#555;
}
.side-nav .active {
  /*cyan darken-1*/
  background-color: rgba(0,172,193, 0.4) !important;
}
.side-nav a:hover {
  /*cyan darken-1*/
  background-color: rgba(0,172,193, 0.2);
}
.side-nav a {
  transition: background-color 1.5s;
}

#sidebar-slide > a > i {
  vertical-align: sub
}
#about {
  background-image: url('../img/deep-tron2.png');
  background-size: cover;
}
#about > .container {
  background-color: rgba(33, 33, 33, 0.7);
  padding: 4px 4px 4px 48px;
  margin-top: 16px;
}
i.bio {
  color: #29b6f6;
}
i.work {
  color: #2BFFCA; /* non-standard palette */
}
i.skills {
  color: #ff5252;
}
i.code {
  color: #F8F502; /* non-standard palette */
}
i.school {
  color: #00263a;
}
i.website-icon {
  font-size: 128px;
  color: #7e57c2;
  width: 100%;
}
.contact-list {
  height: 64px;
}
.contact-list > a {
  display: inline-block !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 48px;
  border: 1px solid white;
  /*background-color: #DDD;*/
  background: none !important;
  margin-left: 16px;
  margin-right: 16px;
  color: white !important;
  padding-left: 10px !important;
  transition: width 0.5s, height 0.5s;
}
.contact-list i {
  font-size: 2em;
  line-height: 46px;
  margin-left: -1px;
}
.contact-list img {
  vertical-align: sub;
  margin-left: -2px;
  padding-bottom: 1px;
}

section#about {
  height: 95vh;
  min-height:300px;
}
.gatech-img-holder {
  height:325px;
  overflow:hidden;
}
.gatech-img {
  margin-top:-25%;
  cursor: pointer;
}
.card-subtitle {
  font-size:18px;
  margin-top:4px;
  margin-bottom:4px;
}
.card-text {
  padding:20px;
  font-weight:300;
}
@media only screen and (max-width : 418px) {
  .card .card-title {
    font-size: 18px !important;
    font-weight: 400;
  }
}

@media only screen and (max-width : 365px) {
  #abilities .frameworks i {
    display: none;
  }
}

.ability-card {
  color:black !important;
}

@media only screen and (max-width : 600px) {
  .languages h2 {
    font-size: 3.0rem;
  }
}
@media only screen and (max-width : 375px) {
  .languages h2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width : 320px) {
  .languages h2 {
    font-size: 2.2rem;
  }
}

.section-header {
  background-color:#ABDAAD;
  height:128px;
}
.section-title {
  color:white;
}
.container-85 {
  width:85% !important;
}

.modal-title {
  margin-bottom:2.2em;
}

.about-subheader {
  font-size:1.4em;
}

.cd-timeline-content > .modal-trigger {
  float:right;
}

footer a {
  color: #32B9FB;
}
footer .contact-list li {
  margin-top: 8px;
  margin-bottom: 16px;
}
.footer-copyright .location {
  float:right;
}

/*Begin the Tech Tower image responsiveness*/
@media only screen and (max-width : 600px) {
  .gatech-img {
    transform: scale(1.75);
    transform-origin:left top;
  }
}
@media only screen and (max-width : 800px) {
  .gatech-img {
    transform: scale(1.325);
    transform-origin:left top;
  }
}
@media only screen and (max-width : 543px) {
  .gatech-img {
    transform: scale(1.9);
    transform-origin:left top;
  }
}
/*Point of mess-up is at 340px width*/
/*It's over... finally*/
