header, main, footer {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
nav.top-nav {
  height:128px;
}
.top-corner-branding {
  height:128px;
}
.header-title {
  font-size:3em;
}
img.kc-image {
  width:64px;
  vertical-align: middle;
}
.top-corner-branding {
  background-color:#ABDAAD;
}
.button-collapse {
  font-size:32px;
  margin-left:0.5em;
  margin-right:2em;
}
.sidebar-item-desc {
  padding-left:12px;
  font-weight:600;
  color:#999;
}
i.bio {
  color:#29b6f6;
}
i.work {
  color:#1de9b6;
}
i.skills {
  color:#ff5252;
}
i.code {
  color:#ffd600;
}
i.school {
  color:#7e57c2;
}
